* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}





@media screen {
    body {
        font-size: 102%;
        background: lightgrey;
    }

    .zine {
        background-color: lightgrey;
    }

    .zine-page {
        background: white;
        overflow: hidden;
        width: 17.82rem;
        height: 25.2rem;
        margin: auto;
        padding: 2rem;
    }
}

@media print {

    body {
        transform: translateX(-8px) translateY(-8px);
    }

    * {
        font-size: 99%
    }

    @page {
        size: A4 landscape;
        margin: 0;
        bleed: 0;
    }

    .zine {
        width: 100vw;
        height: 200vh;
        display: grid;
        gap: 1.5px;
        background: lightgrey;
        /* grid-template-areas:
          "page-9 page-7 page-5 page-3"
          "page-11 page-13 page-8 page-1"
          "page-4 page-6 page-8 page-10"
          "page-2 page-8b page-13b page-12";  */
        /* transform: translateY(-0.2px); */
        grid-template-areas:
          "page-5 page-12 page-9 page-8"
          "page-4 page-13 page-16 page-1"
          "page-7 page-10 page-11 page-6"
          "page-2 page-15 page-14 page-3"; 
        margin: 0;
    }

    .zine-page {
        background: white;
        padding: 2rem;
        overflow: hidden;
        width: 24.9vw;
        height: 49.9vh;
        margin: 0;
    }

    .page-5, .page-12 {
        transform: rotate(180deg) translateX(-0.1px);
    }
    
      .page-9,  .page-8 {
          transform: rotate(180deg) translateX(0.1px);
    }

    .page-6, .page-11 {
        transform:rotate(180deg) translateX(-0.1px) translateY(49px);
    }

    .page-10, .page-7 {
        transform:rotate(180deg) translateX(0.1px) translateY(49.5px);
    }

    .page-2, .page-3, .page-14, .page-15 {
        transform: translateY(-72.1px);
    }

    .page-4, .page-13, .page-16, .page-1 {
        transform: translateY(-23px);
    }
    
    .page-1 {
        grid-area: page-1;
    }

    .page-3 {
        grid-area: page-3;
    
    }

    .page-5 {
        grid-area: page-5;
    }

    .page-7 {
        grid-area: page-7;
    }

    .page-9 {
        grid-area: page-9;
    }

    .page-11 {
        grid-area: page-11;
    }

    .page-13 {
        grid-area: page-13;
    }

    .page-15 {
        grid-area: page-15;
    }

    .page-2 {
        grid-area: page-2;
    }

    .page-4 {
        grid-area: page-4;
    
    }

    .page-6 {
        grid-area: page-6;
    }

    .page-8 {
        grid-area: page-8;
    }

    .page-10 {
        grid-area: page-10;
    }

    .page-12 {
        grid-area: page-12;
    }

    .page-14 {
        grid-area: page-14;
    }

    .page-16 {
        grid-area: page-16;
    }
}